
@keyframes move{
    from{
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}

@keyframes move-diagonal-down{
    from{
        background-position: 0 0;
    }
    to {
        background-position: -100% -100%;
    }
}

@keyframes move-diagonal-top{
    from{
        background-position: 0 0, 0 0, 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

@keyframes fade{
    from{
        opacity: 0
    }
    to{
        opacity: 1
    }
}

@keyframes fade-in{
    from{
        opacity: 0;
        transform: translateX(100px)
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

em{
    font-style: italic;
}

strong{
    font-weight: bold
}

body{
    font-family: 'Varela Round';
    font-size: 1.5vw;
    color: white;
    line-height: 1.15em
}

h1{
    font-size: 2em;
    padding-bottom: .5em;
}

h3 {
    font-size: 1.25em;
    margin-bottom: .5em
}

a {
    color: orangered
}

ol{
    list-style: decimal;
    list-style-position: inside
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #202122;
    background-image: url(imgs/o.svg), url(imgs/x.svg), url(imgs/slash.svg);
    background-size: 450px, 300px, 450px;
    animation: move-diagonal-top 23s infinite ease-in-out alternate;
/*    animation-name: move, move-diagonal-down, move-diagonal-top;*/
}



.demo {
/*    position: relative;*/
/*    height: 0;*/
/*    padding-bottom: 56.25%;*/
    max-width: 300px;
    width: 100%;
}

.demo video{
/*    position: absolute;*/
    width: 100%;
    height: auto;
/*    top: 0;*/
/*    left: 0;*/
}

.phone.screen {
    background: url(imgs/pixel.png) no-repeat center;
    background-size: contain;
    padding: 17.5% 18%;
    opacity: 0;
    animation: 1s fade .1s linear forwards;
}

.excerpt{
    font-size: 1.35em;
    padding: 20px 0;
}
.container.info{
    max-width: 40%;
    opacity: 0;
    animation: 1s fade-in 1s ease forwards
}

.logo {
    width: 100%;
    height: auto;
}

.button {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    background: orangered;
    border-radius: 100px;
    font-size: 1.5em
}

.buttons {
    display: flex;
    justify-content: space-around
}

.button.disabled {
    pointer-events: none;
    filter: grayscale(1);
    cursor: not-allowed;
}

.g-signin2 {
    transform: scale(2) translateY(25%) translateX(-25%); !important
    padding-left: 100px; !important
}

.file-upload {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.file-upload.hidden{
    display: none;
}


#dropzone {
    padding: 195px;
    background: lightslategray;
    border-radius: 50px;
    border: darkslategray dashed .5em;
}

.about {
    background: #575859;
/*    color: #202122;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    min-height: 100vh
}

.about > div{
    display: flex;
    width: 1360px;
    flex-direction: row;
}

.about .content{
    max-width: 50%
}

.about .content p{
    padding-bottom: .5em;
}

.about .content h1{
    line-height: 1em;
}

.about .profiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 50px
}

.about .profiles img{
    max-width: 15%;
    height: auto;
    align-self: center;
    margin: 10px;
    border-radius: 300px;
    border: white 10px solid 
}

.about .content.right {
    margin-left: 20px;
}

.about .content ol li{
    margin-bottom: .25em;
}